<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success rounded-pill border-0 px-3 my-3">Add New Recipe</button>
    </div>
</div>
<div class="row" *ngFor = "let recipe of recipes">
    <div class="col-sm-12">
        <a href="#" class="list-group-item clearfix mb-2">
            <div class="float-left">
             <h4 class="list-group-item-heading">{{recipe.name}}</h4>
             <p class="list-group-item-text">{{recipe.desc}}</p>
            </div>
            <div class="float-right">
             <img [src]="recipe.imgPath" alt="" class="img-fluid" style="max-height: 70px;max-width: 70px;"> 
            </div>
        </a>
    </div>
</div>
<app-recipe-item></app-recipe-item>
