<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
            <div class="form-group col-sm-5">
              <label>Ingredient Name</label>  
              <input type="text" class="form-control">
            </div>
            <div class="form-group col-sm-2">
                    <label>Amout</label>  
                    <input type="number" class="form-control">
            </div>
            </div>
            <div class="row">
                <button class="btn btn-success mr-2 ml-3" type="submit">Add Ingredient</button>
                <button class="btn btn-danger mr-2" type="button">Delete</button>
                <button class="btn btn-warning" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>
