<div class="row mt-5">
    <div class="col-sm-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="dropdown my-3">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">To Shopping List</a>
                <a class="dropdown-item" href="#">Edit Recipes</a>
                <a class="dropdown-item" href="#">Delete Recipes</a>
            </div>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Recipe Description</p>
    </div>
</div>
